{% extends "template.html"%}

{% block head%}
<title>Shortly - URL Shortener</title>
{% endblock %}

{% block body%}
<div class="wrapper d-flex flex-column">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Short.ly</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Shorten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{url_for("expand")}}>Expand</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="px-4 py-5 my-auto text-center">
  <h1 class="display-5 fw-bold">About</h1>
  <div class="col-lg-6 mx-auto">
    <h3>Short.ly is a simple Service for shortening links and expanding shortened ones. The generated links do not expire. This project is a part of my personal portfolio.
      <a href="https://github.com/dawidduraj/shortly">Source Code</a>
    </h3>
  </div>
</div>
<footer class="bg-dark text-light text-center py-2">
  Made with ❤️ by <a href="https://github.com/dawidduraj" class="link-light">Dawid Duraj</a>
</footer>
</div>

{% endblock %}
