{% extends "template.html"%}

{% block head%}
<title>Shortly - URL Shortener</title>
{% endblock %}

{% block body%}
<div class="wrapper d-flex flex-column">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Short.ly</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Shorten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Expand</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{url_for("about")}}>About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="px-4 py-5 my-auto text-center">
  <h1 class="display-5 fw-bold">URL Expander</h1>
  <div class="col-lg-6 mx-auto">
    <form action="/expand" method="post">
 
      <input type="text" class="form-control mb-3" placeholder="Enter URL..." name="url" id="url">
      <input type="submit" class="btn btn-secondary" value="Expand URL">

    </form>
    {% if url and response %}
      <br><p class="text-success">The URL <a class="text-success" href={{url}} style="font-weight: bold;">{{url}}</a> points to <a class="text-success" href={{response}} style="font-weight: bold;">{{response}}</a></p>
    {% elif url and not response%}
      <br><p class="text-danger">The URL <a class="text-danger" href={{url}} style="font-weight: bold;">{{url}}</a> is invalid or could not be loaded.</p>
    {% endif %}
  </div>
</div>
<footer class="bg-dark text-light text-center py-2">
  Made with ❤️ by <a href="https://github.com/dawidduraj" class="link-light">Dawid Duraj</a>
</footer>
</div>

{% endblock %}
